@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
}

.product__image {
  width: 6rem;
  height: auto;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

/* rozložení spodku stránky*/

.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-wrapper {
  display: flex;
}

.product__colors {
  margin-left: 45px;
}

.choose-colors {
  display: flex;
}

.color-option {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
}

/* výběr barvy */

.color-option__box {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px #FFFFFF;
}

.color-option__box--white {
  background-color: white;
}

.color-option__box--black {
  background-color: black;
}

.color-option__box--red {
  background-color: #953232;
}

.color-option__box--blue {
  background-color: skyblue;
}

.color-option__name {
  text-align: center;
}

/* tlačítko pro objednání */

.btn-order {
  padding: 15px 50px;
  color: white;
  background-color: #141518;
  border: 1px solid white;
  border-radius: 23px;
}